body{
    background-color: brown;
}

h1{
    color: red;
    background-color: black;
}

.Linha1{
    color: white;
    background-color: red;
}

.Linha2{
    color: black;
    background-color: blueviolet;
}
